# first Python output

In [1]:
print('Hello, Python!')

Hello, Python!

### Check the Python Version

In [1]:
import sys
print(sys.version)

3.10.2 (main, Apr  9 2022, 20:52:01) [Clang 14.0.0 (https://github.com/llvm/llvm-project 78e87970af888bbbd5652c31f3a8

### Practice on writing comments

In [2]:
print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

### Print string and error to see the running order

In [4]:
print("This will be printed")
print("This will cause an error")
print("This will NOT be printed")

This will be printed
This will cause an error
This will NOT be printed

### Exercise: Your First Program

In [5]:
print("Hello, world!") # Print the traditional hello world

Hello, world!

### Type of an expression by using the built-in type() function.

In [6]:
# Type of 12

type(12)

int

In [7]:
# Type of 2.14

type(2.14)

float

In [9]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [10]:
# Type of 12.0

type(12.0)

float

In [11]:
# Print the type of -1

type(-1)

int

In [12]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [13]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

### Converting from one object type to a different object type. This is called typecasting

In [14]:
# Convert 2 to a float, int to float

float(2)

2.0

In [16]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [17]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

### Converting from strings to integers or floats

In [18]:
# Convert a string into an integer

int('1')

1

In [19]:
# Convert the string "1.2" into a float

float('1.2')

1.2

#### [Tip:] Note that strings can be represented with single quotes ('1.2') or double quotes ("1.2"), but you can't mix both (e.g., "1.2').

### Converting numbers to strings

In [20]:
# Convert an integer to a string

str(1)

'1'

In [21]:
# Convert a float to a string

str(1.2)

'1.2'

### Boolean data type

In [22]:
# Value true

True

True

In [23]:
# Value false

False

False

In [24]:
# Type of True

type(True)

bool

In [25]:
# Type of False

type(False)

bool

In [26]:
# Convert True to int

int(True)

1

In [27]:
# Convert 1 to boolean

bool(1)

True

In [28]:
# Convert 0 to boolean

bool(0)

False

In [29]:
# Convert True to float

float(True)

1.0

In [30]:
# Convert False to float

float(False)

0.0

In [31]:
# data type of the result of: 6 / 2

type(6/2)

float

In [32]:
# type of the result of: 6 // 2

type(6//2)

int

#### Tip : the double slashes stand for integer division

### Expression and Variables

In [33]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [34]:
# Subtraction operation expression

50 - 60

-10

In [35]:
# Division operation expression

25 / 5

5.0

In [36]:
# Division operation expression

25 / 6

4.166666666666667

In [37]:
# Integer division operation expression

25 // 5

5

In [38]:
# Integer division operation expression

25 // 6

4

In [39]:
# Expression that calculates how many hours there are in 160 minutes

160/60

2.6666666666666665

In [40]:
160//60

2

##### Python follows well accepted mathematical conventions when evaluating mathematical expressions

In [41]:
# Mathematical expression

30 + 2 * 60

150

### Variables

In [44]:
# Store value into variable

x = 43 + 60 + 16 + 41
# Print out the value in variable
x

160

In [45]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [46]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

##### It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:

In [47]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [48]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [49]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

In [50]:
# Complicate expression

total_hours = (43 + 42 + 57) // 60  # Total hours in a single expression
total_hours

2

### Exercise: Expression and Variables in Python

In [51]:
# What is the value of x where x = 3 + 2 * 2

x = 3 + 2 * 2
x

7

In [52]:
# What is the value of y where y = (3 + 2) * 2?

y = (3 + 2) * 2
y

10

In [53]:
# What is the value of z where z = x + y?

z = x + y
z

17

### The last exercise!